<ion-view>
    <!--<ion-view class="login-view auth-view" cache-view="false">-->
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button>Back</ion-nav-back-button>
        <ion-nav-title>
            MyWallets - Donation
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content class="has-header padding" scroll="false">
        <div class="list">
            <div class="card" content-tabs tabsdata='tabsdata'>
                <div class="item item-text-wrap">
                    <h2><strong>Conteúdo para maiores de 18 anos</strong></h2>
                    <p>Ao clicar em "Tenho +18 anos" você aceita nossas politicas de segurança e uso do app.</p>
                    <p>Deseja continuar com o acesso?</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>