<ion-view>
    <!--<ion-view class="login-view auth-view" cache-view="false">-->
    <ion-nav-bar class="bar bar-positive">
        <ion-nav-back-button>Back</ion-nav-back-button>
        <ion-nav-title>
            MyWallets - F.A.Q.
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content class="has-header padding">
        <div class="list">
            <div class="card login-container" content-tabs tabsdata='tabsdata'>
                <div class="item item-body">
                    <h2><strong>O que é o MyWallets?</strong></h2>
                    <p>------</p>
                </div>
                <div class="item item-body item-divider bottom-content">
                    <p>
                        Maiores informações pelo Skype e Email: <b>luan_menezes90@hotmail.com</b>
                    </p>
                    <p>
                        Sejam todos bem vindos e bom investimento a todos.
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>